﻿@model BESLSupplierTool.Models.DBModels.BeslOffer
<div style="padding:10px 30px; margin:auto">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.QuoteNo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.QuoteNo)
                <button class="btn" onclick="getNewQuoteNo()"><i class="fa fa-magic" aria-hidden="true"></i></button>
                @Html.ValidationMessageFor(m => m.QuoteNo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.InquiryId, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @(Html.Kendo().DropDownListFor(model => model.InquiryId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetInquriesAsSelectList", "BeslOffer");
                        });
                    })
                    .Filter("contains"))
                @Html.ValidationMessageFor(model => model.InquiryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DateOffer, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().DatePickerFor(model => model.DateOffer)
                @Html.ValidationMessageFor(model => model.DateOffer, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(model => model.Currency)
                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.VAT, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(model => model.VAT)
                @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.TermsOfDelivery, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(model => model.TermsOfDelivery)
                @Html.ValidationMessageFor(model => model.TermsOfDelivery, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.TermsOfPayment, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(model => model.TermsOfPayment)
                @Html.ValidationMessageFor(model => model.TermsOfPayment, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>
<style>
    @@media(min-width: 992px) {
        #QuoteNo {
            width: 231px !important;
        }
    }
</style>
