﻿@model BESLSupplierTool.Models.DBModels.BeslOfferItemView
<div style="padding:10px 30px; margin:auto">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DescriptionForSale, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.DescriptionForSale)
                @Html.ValidationMessageFor(m => m.DescriptionForSale)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.Unit)
                @Html.ValidationMessageFor(m => m.Unit)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().NumericTextBoxFor(m => m.Quantity)
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().NumericTextBoxFor(m => m.UnitPrice)
                @Html.ValidationMessageFor(m => m.UnitPrice)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().NumericTextBoxFor(m => m.Amount)
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.DeliveryDuration, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.DeliveryDuration)
                @Html.ValidationMessageFor(m => m.DeliveryDuration)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.Comments)
                @Html.ValidationMessageFor(m => m.Comments)
            </div>
        </div>
    </div>
</div>