﻿@media print {
    table.mainOfferTable tr th, table.mainOfferTable tr.tableHeader td {
        background-color: rgba(255, 54, 0, 0.43) !important;
        color: #371904 !important;
    }

    div.beslOfferDiv {
        padding: 0 !important;
    }

    .no-print {
        display: none !important;
    }

    .content-wrapper {
        padding: 15px !important;
        margin: 0 !important;
        width: 100% !important;
    }

    body {
        padding: 0 10px !important;
        margin: 0 !important;
        border: none !important;
    }

    #body-content {
        padding: 0 !important;
        max-width: none !important;
        width: 100% !important;
        border: none !important;
    }

    .offerHeaderDiv {
        padding-top: 0 !important;
    }
}


table td, table th {
    padding: 5px;
}

table.mainOfferTable tr td:nth-child(1), table.mainOfferTable tr th:nth-child(1) {
    padding: 3px;
}

table.mainOfferTable tr th, table.mainOfferTable tr.tableHeader td {
    background-color: rgba(255, 54, 0, 0.43);
    color: #371904;
}

div.infoOfferDiv table.infoOfferTable td, div.infoOfferDiv table.infoOfferTable th {
    padding: 0px 7px;
}

table.fullBordered, table.fullBordered th, table.fullBordered td {
    border: 1px solid #371904;
    border-collapse: collapse;
}

table.mainOfferTable th, table.mainOfferTable td {
    text-align: center;
}

table.mainOfferTable tr:not(.tableHeader) td:nth-child(2) {
    text-align: left;
}

table.mainOfferTable th, table.mainOfferTable tr.tableHeader td {
    font-family: 'Calibri','Times New Roman', Geneva, Verdana, sans-serif, Times, serif !important;
    font-weight: bold;
}

table.mainOfferTable {
    font-family: Calibri, Geneva, Verdana, sans-serif, Times, serif !important;
    font-size: 9pt;
}

div.infoOfferDiv table.infoOfferTable, div.infoOfferDiv table.infoOfferTable td {
    /*border: 1px solid #371904;*/
    border-collapse: collapse;
}

div.infoOfferDiv table.infoOfferTable {
    width: 100%;
    margin-bottom: 20px;
}

    div.infoOfferDiv table.infoOfferTable td:nth-child(2n+1) {
        text-align: right;
    }

table.mainOfferTable td.hAlignRight {
    text-align: right;
}

table.mainOfferTable td.hAlignCenter {
    text-align: center;
}

table.mainOfferTable colgroup col:nth-child(1) {
    width: 30px;
}

table.mainOfferTable colgroup col:nth-child(2) {
    width: 390px;
}

table.mainOfferTable colgroup col:nth-child(3) {
    width: 60px;
}

table.mainOfferTable colgroup col:nth-child(4) {
    width: 70px;
}

table.mainOfferTable colgroup col:nth-child(5) {
    width: 90px;
}

table.mainOfferTable colgroup col:nth-child(6) {
    width: 90px;
}

table.mainOfferTable colgroup col:nth-child(7) {
    width: 135px;
}

table.mainOfferTable colgroup col:nth-child(8) {
    width: 135px;
}


table.footerTable {
    margin: 30px 0;
    border-radius: 10px;
    background-color: rgba(255, 54, 0, 0.10) !important;
}

table.footerTable td {
    padding: 5px 10px;
}

div.beslOfferDiv {
    padding: 40px 10px;
}
