﻿.k-edit-form-container {
    width: auto !important;
}

@media (min-width: 992px) {
    .k-autocomplete, .k-combobox,
    .k-datepicker, .k-timepicker,
    .k-datetimepicker, .k-colorpicker,
    .k-numerictextbox, .k-dropdown,
    .k-selectbox, .k-textbox,
    .k-toolbar .k-split-button {
        width: 100% !important;
        max-width: none;
    }
}

