﻿.table {
    margin-bottom: 0;
}

.table-editable {
    position: relative;
    .glyphicon;

{
    font-size: 20px;
}

}

.table-remove {
    color: #700;
    cursor: pointer;
    &:hover;

{
    color: #f00;
}

}

.table-up, .table-down {
    color: #007;
    cursor: pointer;
    &:hover;

{
    color: #00f;
}

}

.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    &:hover;

{
    color: #0b0;
}

}

#table table th {
    padding-left: 9px;
    text-align: left;
}

input {
    max-width: initial;
}

#editToolBar > div {
    margin-bottom: 10px;
}

#editToolBar table th {
    padding-left:7px;
}