﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/css/sideNav.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/cultures/kendo.culture.az-Latn-AZ.min.js"></script>
    <script type="text/javascript">
        //set current to the "az-AZ" culture script
        kendo.culture("az-Latn-AZ");
    </script>
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="transition: 0.5s;">
        <div id="sideMenuButtonDiv" style="position:absolute; padding-left:10px;">
            <span style="font-size:35px;cursor:pointer; color:#999999" onclick="openNav()">&#9776;</span>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Baku Engineering Supplies LTD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @Html.ActionLink("xxx xxx xxx ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="@Url.Action("Index","Inquiry")">Inquiries</a>
        <a href="@Url.Action("Index","BeslOffer")">Offers</a>
        @*<a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>*@
    </div>

    <div id="body-content" class="container body-content" style="transition: 0.5s;">
        @RenderBody()
        <div class="no-print">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/fa")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/custom/sideNav.js")
</body>
</html>
