﻿@model BESLSupplierTool.Models.DBModels.CompanyDetails
<div style="padding:10px 30px; margin:auto">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.CompanyName)
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OfferPrefix, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.OfferPrefix)
                @Html.ValidationMessageFor(m => m.OfferPrefix)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OfferNoLength, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().NumericTextBoxFor(m => m.OfferNoLength)
                @Html.ValidationMessageFor(m => m.OfferNoLength)
            </div>
        </div>
    </div>
</div>