﻿@model BESLSupplierTool.Models.DBModels.Inquiry
<div style="padding:10px 30px; margin:auto">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.InquiryNo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.InquiryNo)
                @Html.ValidationMessageFor(m => m.InquiryNo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.ProjectNo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.ProjectNo)
                @Html.ValidationMessageFor(m => m.ProjectNo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.To)
                @Html.ValidationMessageFor(m => m.To)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Buyer, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.Buyer)
                @Html.ValidationMessageFor(m => m.Buyer)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Attn, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-7 pull-right">
                @Html.Kendo().TextBoxFor(m => m.Attn)
                @Html.ValidationMessageFor(m => m.Attn)
            </div>
        </div>
    </div>
</div>