﻿@using BESLSupplierTool.Models.DBModels
@{
    ViewBag.Title = "Settings";
}

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-body">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="pill" href="#companyDetails">Company details</a></li>
                        <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
                        <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                        <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="companyDetails" class="tab-pane fade in active">
                            ﻿﻿@(Html.Kendo().Grid<CompanyDetails>()
                                  .Name("CompanyDetailsGrid")
                                  .Columns(columns =>
                                  {
                                      columns.Bound(c => c.CompanyId).Hidden(true);
                                      columns.Bound(c => c.CompanyName).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                                      columns.Bound(c => c.OfferPrefix).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                                      columns.Bound(c => c.OfferNoLength).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                                      columns.Command(command =>
                                      {
                                          command.Edit().Text("Edit").UpdateText("Update").CancelText("Close");
                                          command.Destroy().Text("Delete");
                                      }).Width(250);
                                  })
                                  .ToolBar(toolbar =>
                                  {
                                      toolbar.Create().Text("Add");
                                  })
                                        .Editable(editable => editable.Mode(GridEditMode.PopUp)
                              .TemplateName("AddCompanyDetailsDialog")
                              .Window(w => w.Title("Add").Width(600)))
                                  .Editable(editable => editable.DisplayDeleteConfirmation("DeleteConfirmation"))
                                  .Pageable()
                                  .Sortable()
                                  .Scrollable(scr => scr.Height("auto"))
                                  .Resizable(resize => resize.Columns(true))
                                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                  .Events(events => events.Edit("onEdit"))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Sort(sort =>
                                      {
                                          sort.Add(p => p.CompanyId).Descending();
                                      })
                                             .PageSize(20)
                                    .Events(events => events.Sync("refreshGrid"))
                                    .Events(events => events.Error("grid_error"))
                                    .Model(model => model.Id(p => p.CompanyId))
                                    .Read(read => read.Action("CompanyDetailsRead", "Settings"))
                                    .Create(create => create.Action("CompanyDetailsCreate", "Settings"))
                                    .Update(update => update.Action("CompanyDetailsUpdate", "Settings"))
                                    .Destroy(destroy => destroy.Action("CompanyDetailsDelete", "Settings"))
                                  )
                            )
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Menu 3</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>


@section Scripts{
    <script src="~/Scripts/custom/gridCustomAdditions.js"></script>
}

