﻿@using BESLSupplierTool.Models.ViewModels
@using BESLSupplierTool.Models.DBModels

@model EditInquiryView

@{
    ViewBag.Title = "Edit inquiry";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
            Edit inquiry
        </h2>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h4>@Model.InquiryNo</h4>
            </div>
            <div class="box-body">

                <div id="table" class="table-editable table-bordered centerAlign">
                    <span class="table-add glyphicon glyphicon-plus" style="margin-right:12px"></span>
                    <table class="table">
                        <tr>
                            <th>@Html.LabelFor(model => model.UnusedInquiryItem.Description)</th>
                            <th>@Html.LabelFor(model => model.UnusedInquiryItem.Unit)</th>
                            <th>@Html.LabelFor(model => model.UnusedInquiryItem.Quantity)</th>

                            <th></th>
                            <th></th>
                        </tr>
                        <!-- This is our clonable table line -->

                        <tbody></tbody>
                        <tr class="hide">
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>

                            <td>
                                <span class="table-remove glyphicon glyphicon-remove"></span>
                                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                <span class="table-down glyphicon glyphicon-arrow-down"></span>
                            </td>

                            <td></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div id="editToolBar" style="border: 1px solid gray; padding:5px; border-radius:3px; border-color:lightgray">
                    <div>
                        <button id="" onclick="saveInquiry()" class="btn btn-primary">Save offer</button>
                        <button id="" onclick="testInquiry()" class="btn btn-primary">Test offer</button>
                    </div>
                    <div>
                        <div class="" style="width: 200px; display: inline-table;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Unit">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="copyButtonClick(this, 'unit')">Copy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input id="addOrUpdateChbId" type="checkbox"/>
                        <label for="addOrUpdateChbId"> Add </label>
                        <input type="button" class="btn" id="btnUpload" value="Upload from file" />
                        <div class="" style="display: inline-block;">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" id="fileInputSpanId" /></span>
                                <span class="fileinput-filename"></span><span class="fileinput-new">No file chosen</span>
                            </div>
                        </div>
                    </div>
                    <button id="export-btn" class="btn btn-primary">Export Data</button>
                </div>

                <p id="export"></p>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

<script>

    var beslQuoteNo = "";
    var inquiryNo = "";

    $(document).ready(function () {
        fillTable(@Html.Raw(Json.Encode(Model.InquiryItems as InquiryItemView[])));
    });

    function fillTable(dat) {
        var $TABLE = $('#table');
        var listForSale = dat;

        if(listForSale.length>0){
            beslQuoteNo = listForSale[0].QuoteNo;
            inquiryNo = listForSale[0].EnquiryNo;

            for(var i=0;i<listForSale.length;i++){
                var item = listForSale[i];

                $("tr.hide td:nth-child(1)").text(listForSale[i].Description);
                $("tr.hide td:nth-child(2)").text(listForSale[i].Unit);
                $("tr.hide td:nth-child(3)").text(listForSale[i].Quantity.toFixed(2));

                var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
                $TABLE.find('table').append($clone);
            }

            $("tr.hide td:nth-child(1)").text("");
            $("tr.hide td:nth-child(2)").text("");
            $("tr.hide td:nth-child(3)").text("");
        }
    }

    function saveInquiry() {
        var InquiryId = @Model.InquiryId;
        var InquiryItems = returnData();
        var inputdata = {
            InquiryItems: InquiryItems,
            InquiryId: InquiryId
        }
        //console.log(inputdata);
        if (InquiryItems.length > 0) {
            $.ajax({
                url: '@Url.Action("SaveInquiryItemsFromTool", "Inquiry")',
                type: 'POST',
                data: JSON.stringify(inputdata),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (datax) {
                    if (datax.JsonResultMainReturn.Success) {
                        alert("Sorğu yaddaşda saxlanıldı");
                    } else {
                        alert("Xəta!");
                        console.log(datax);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
                });
        }
    }

    function testInquiry(){
        var rows = $TABLE.find('tr:not(:hidden)');
        var InquiryId = @Model.InquiryId;
        var InquiryItems = returnData();
        var inputdata = {
            InquiryItems: InquiryItems,
            InquiryId: InquiryId
        }
        $.ajax({
            url: '@Url.Action("TestInquiryItemsFromTool", "Inquiry")',
            type: 'POST',
            data: JSON.stringify(inputdata),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (datax) {
                if (datax.JsonResultMainReturn.Success) {
                    for (var i = 1; i < rows.length; i++) {
                        rows[i].remove();
                    }
                    fillTable(datax.InquiryItems);
                    alert("Sorğu yeniləndi");
                } else {
                    alert("Xəta!");
                    console.log(datax);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

    function returnData(){
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });

        return data;
    }

    function copyButtonClick(e, copyText){
        var input = $(e).closest("div").find("input");

        var $tds;
        if (copyText == "unit") {
            $tds = $('tr:not(:hidden) > td:nth-child(2)');
        }

        for (var i = 0; i < $tds.length; i++) {
            $($tds[i]).text(input.val());
        }
    }

</script>

<script>

    var $TABLE = $('#table');
    var $BTN = $('#export-btn');
    var $EXPORT = $('#export');

    $('.table-add').click(function () {
        var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
        $TABLE.find('table').append($clone);
    });

    $('.table-remove').click(function () {
        $(this).parents('tr').detach();
    });

    $('.table-up').click(function () {
        var $row = $(this).parents('tr');
        if ($row.index() === 1) return; // Don't go above the header
        $row.prev().before($row.get(0));
    });

    $('.table-down').click(function () {
        var $row = $(this).parents('tr');
        $row.next().after($row.get(0));
    });

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.click(function () {
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });

        var tab = {
            list: data
        }

        // Output the result
        $EXPORT.text(JSON.stringify(tab));
    });
</script>

<script>
    $(document).ready(function () {
        $('#btnUpload').click(function () {
            uploadFiles();
        });
    });

    function uploadFiles() {
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#fileInputSpanId").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('username', 'Manas');

            $.ajax({
                url: '@Url.Action("UploadInquiryExcel", "Print")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    if (result.JsonResultMainReturn.Success) {
                        readFromUploadedFile(result.FileName);
                    } else {
                        if (result.JsonResultMainReturn.Message == "No files selected") {
                            alert("No files selected");
                            console.log(result);
                        } else {
                            alert("Xəta!");
                            console.log(result);
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }

    function readFromUploadedFile(fileName) {
        var InquiryId = @Model.InquiryId;
        var rows = $TABLE.find('tr:not(:hidden)');
        var inputdata = {
            FileName: fileName,
            InquiryId: InquiryId
        }
        $.ajax({
            url: '@Url.Action("GetInquiryItemsFromFile", "Inquiry")',
            type: 'POST',
            data: JSON.stringify(inputdata),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (datax) {
                if (datax.JsonResultMainReturn.Success) {
                    if ($('#addOrUpdateChbId').get(0).checked == false) {
                        for (var i = 1; i < rows.length; i++) {
                            rows[i].remove();
                        }
                    }
                    if (datax.InquiryItems!=null){
                        fillTable(datax.InquiryItems);
                    }
                    alert("Sorğu yeniləndi");
                } else {
                    alert("Xəta!");
                    console.log(datax);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }
</script>

<link href="~/Content/css/editOffer.css" rel="stylesheet" />
<link href="~/Content/css/jasny-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/custom/jasny-bootstrap.js"></script>
