﻿@using BESLSupplierTool.Models.DBModels;
@{
    ViewBag.Title = "Inquries";
}

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-body">
                ﻿﻿@(Html.Kendo().Grid<Inquiry>()
                      .Name("InquiryGrid")
                      .Columns(columns =>
                      {
                          columns.Bound(c => c.InquiryId).Hidden(true);
                          columns.Bound(c => c.InquiryNo).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.ProjectNo).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.To).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.Buyer).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.Attn).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Template(x => { }).ClientTemplate
                          (
                              "<a class='btn btn-primary' href='" + Url.Action("PrintInquiry", "Inquiry", new { InquiryId = "#=InquiryId#" }) + "'  target=\"_blank\"><i class='fa fa-print'></i></a> &nbsp;" +
                              "<button class='btn btn-primary' onclick='createOfferForInquiry(this," + "#=InquiryId#" + ")' data-loading-text='<i class=\"fa fa-spinner fa-spin\" aria-hidden=\"true\"></i>'><i class='fa fa-angle-double-right' aria-hidden='true'></i></button> &nbsp;" +
                              "<a class='btn btn-primary' href='" + Url.Action("EditInquiry", "Inquiry", new { InquiryId = "#=InquiryId#" }) + "' target=\"_blank\"><i class='fa fa-pencil-square-o'></i></a>"

                        ).Width(180);
                          columns.Command(command =>
                          {
                              command.Edit().Text("Edit").UpdateText("Update").CancelText("Close");
                              command.Destroy().Text("Delete");
                          }).Width(250);
                      })
                      .ToolBar(toolbar =>
                      {
                          toolbar.Create().Text("Add");
                          toolbar.Excel().Text("Excel");
                          toolbar.Custom().Text("<i class=\"fa fa-refresh\" aria-hidden=\"true\"></i>").HtmlAttributes(new { @class = "gridCustomRefreshButton", onclick = "refreshKendoGrid('InquiryGrid')" });
                      })
                            .Editable(editable => editable.Mode(GridEditMode.PopUp)
                  .TemplateName("AddInquiryDialog")
                  .Window(w => w.Title("Add").Width(600)))
                      .Editable(editable => editable.DisplayDeleteConfirmation("DeleteConfirmation"))
                      .Pageable()
                      .Sortable()
                      .Scrollable(scr => scr.Height("auto"))
                      .Resizable(resize => resize.Columns(true))
                      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                      .Events(events => events.Edit("onEdit"))
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Sort(sort =>
                          {
                              sort.Add(p => p.InquiryId).Descending();
                          })
                                 .PageSize(20)
                        .Events(events => events.Sync("refreshGrid"))
                        .Events(events => events.Error("grid_error"))
                        .Model(model => model.Id(p => p.InquiryId))
                        .Read(read => read.Action("InquiryRead", "Inquiry"))
                        .Create(create => create.Action("InquiryCreate", "Inquiry"))
                        .Update(update => update.Action("InquiryUpdate", "Inquiry"))
                        .Destroy(destroy => destroy.Action("InquiryDelete", "Inquiry"))
                      ).ClientDetailTemplateId("InquiryItems")
                )
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

<script type="text/kendo" id="InquiryItems">
    @(Html.Kendo().Grid<InquiryItemView>()
            .Name("HierarchyInquiryItem_#=InquiryId#")
            .Columns(columns =>
            {
                columns.Bound(c => c.InquiryId).Hidden(true);
                columns.Bound(c => c.Description).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                columns.Bound(c => c.Unit).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                columns.Bound(c => c.Quantity).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));

                columns.Command(command =>
                {
                    //command.Edit().Text("Edit").UpdateText("Update").CancelText("Cancel");
                    command.Destroy().Text("Delete");
                }).Width(150);
            })
            .ToolBar(toolbar =>
            {
                toolbar.Create().Text("Create");
                toolbar.Save().SaveText("Save");
                toolbar.Excel().Text("Excel");
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Editable(editable => editable.DisplayDeleteConfirmation("DeleteConfirm"))
            .Excel(excel => excel.FileName("InquiryItems")
                .AllPages(true)
                .Filterable(true)
            )
            .Pageable()
            .Sortable()
            .Scrollable(scr => scr.Height("auto"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .Resizable(resize => resize.Columns(true))
            .Events(events => events.Edit("onEdit"))
            .DataSource(dataSource => dataSource
             .Ajax()
             .Batch(true)
                .Sort(sort =>
                       {
                           sort.Add(p => p.InquiryItemId).Descending();
                       })
                .PageSize(20)
                .Events(events => events.Sync("refreshGrid"))
                .Events(events => events.Error("grid_error"))
                .Model(model => model.Id(p => p.InquiryItemId))
                .Create(up => up.Action("InquiryItemCreate", "Inquiry", new { id = "#=InquiryId#" }))
                .Read(re => re.Action("InquiryItemRead", "Inquiry", new { id = "#=InquiryId#" }))
                .Update(up => up.Action("InquiryItemUpdate", "Inquiry"))
                .Destroy(up => up.Action("InquiryItemDelete", "Inquiry"))
            )
            .ToClientTemplate()
    )

</script>

@section Scripts{
    <script src="~/Scripts/custom/gridCustomAdditions.js"></script>
}

<script>
    function createOfferForInquiry(e, inquiryId, returnFromCheck, existence, override) {
        //console.log(inquiryId);
        //console.log(" createOfferForInquiry(e, inquiryId, returnFromCheck, existence, override)");
        if (returnFromCheck == null || returnFromCheck == false) {
            //console.log("if (returnFromCheck == null || returnFromCheck == false) {");
            checkOfferExistenceForInquiry(e, inquiryId);
        } else if (returnFromCheck != null && returnFromCheck) {
            //console.log(" } else if (returnFromCheck != null && returnFromCheck) {");
            if (existence == true && override == true) {
                //console.log(" if (existnace == true && override == true) {");
                var obj = {
                    InquiryId: inquiryId,
                    OverrideOffer: override
                };

                //console.log("$.ajax({start");
                $.ajax({
                    url: '@Url.Action("CreateOfferForInquiryNo", "Inquiry")',
                    type: 'POST',
                    data: JSON.stringify(obj),
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Success) {
                            //console.log("if (data.Success) {");
                            alert("Sorğuya uyğun təklif yaradıldı.")
                        } else {
                            //console.log("ajaxelsesucceselse {");
                            console.log(data);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //console.log("error: function (XMLHttpRequest,CreateOffer");
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                });

            } else {
                var obj = {
                    InquiryId: inquiryId,
                    OverrideOffer: true
                };

                //console.log("$.ajax({start");
                $.ajax({
                    url: '@Url.Action("CreateOfferForInquiryNo", "Inquiry")',
                    type: 'POST',
                    data: JSON.stringify(obj),
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Success) {
                            //console.log("if (data.Success) {");
                            alert("Sorğuya uyğun təklif yaradıldı.")
                        } else {
                            //console.log("ajaxelsesucceselse {");
                            console.log(data);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //console.log("error: function (XMLHttpRequest,CreateOffer");
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                });
            }
        }
        //console.log("ENDcreateOfferForInquiry(e, inquiryId, returnFromCheck, existence, override)");
    }

    function checkOfferExistenceForInquiry(e, inquiryId) {
        var obj = {
            InquiryId: inquiryId
        };
        //console.log("checkOfferExistenceForInquiry(e, inquiryId)");

        $.ajax({
            url: '@Url.Action("CheckOfferExistenceForInquiryNo", "Inquiry")',
            type: 'POST',
            data: JSON.stringify(obj),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.JsonResultMainReturn.Success) {
                    if (data.Existence) {
                        //console.log("if (data.Existence) {");
                        if (confirm("Eyni sorğu nömrəli təklif artıq mövcuddur, həmin təklif yenilənsin?") == true) {
                            //console.log("if (confirm(Eyni sorğu nömrəli təklif");
                            createOfferForInquiry(e, inquiryId, true, data.Existence, true);
                        } else {
                            //console.log("else (confirm(Eyni sorğu nömrəli təklif");
                            //createOfferForInquiry(e, inquiryId, true, data.Existence, false);
                        }
                    } else {
                        //console.log("else (data.Existence) {");
                        createOfferForInquiry(e, inquiryId, true, data.Existence, false);
                    }
                } else {
                    //console.log("Url.Action(CheckOffer ajaxelsesucceselse {");
                    console.log(data);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
                //console.log("CheckOfferExistenceF ajaxeror");
                console.log(textStatus);
                console.log(errorThrown);
            },
        });
        //console.log("checkOfferExistenceEND");
    }

    //$.getJSON(url, obj, function success(data) {
        //    if (data.JsonResultMainReturn.Success) {
        //        console.log("if");
        //        return { Existence: data.Existence, Success: data.JsonResultMainReturn.Success };
        //    } else {
        //        console.log(data);
        //        console.log("else");
        //        return { Existence: data.Existence, Success: data.JsonResultMainReturn.Success };
        //    }
        //}).error(function (){
        //    console.log("erere");
        //    return { Existence: true, Success: true };
        //    });
</script>