﻿@model BESLSupplierTool.Models.ViewModels.PrintInquiry
@{ViewBag.Title = Model.InquiryNo;}
<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header no-print">
        <h1></h1>
    </section>
    <link href="~/Content/css/besl.css" rel="stylesheet" />
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="col-xs-12 no-print" style="margin-bottom:20px;">
                <button onclick="print()" class="btn pull-right" style="margin:10px 5px 0 0;"><i class='fa fa-print'></i> Print / <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save</button>
            </div>
            <div class="box-body">
                <div class="beslOfferDiv" style="max-width:902px; margin:auto">
                    <div class="offerHeaderDiv" style="padding:10px 10px 10px 10px;">
                        <div>
                            <div style="float:left;">
                                <div style="display:inline-block; vertical-align:middle"><img src="~/Content/images/logo.png" /></div>
                                <div style="border-left: 1px solid #000000; padding-left:15px; margin-top:10px; display:inline-block; vertical-align:middle">
                                    <span style="text-transform: uppercase; ">baku <br />engineering <br />supplies ltd</span>
                                </div>
                            </div>
                            <div style="float:right">
                                <p style="">
                                    Adress: M.Hadi 7, Baku\Azerbaijan, AZ1142<br />
                                    Phone: (+994 12) 370 01 92<br />
                                    Fax: (+994 12) 370 94 36<br />
                                    Mail: info@bakuengineering.com<br />
                                    Web: www.bakuengineering.com
                                </p>
                            </div>
                        </div>
                        <div style="content:''; height:120px;"></div>
                    </div>

                    <div class="infoOfferDiv">
                        <table class="infoOfferTable">
                            <tr>
                                <td style="width: 20%;">Inquiry №:</td>
                                <td style="width: 30%;">@Model.InquiryNo</td>
                                <td style="width: 20%;"></td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td>@Model.Date</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="" style="width:100%;">
                        <table id="" class="fullBordered mainOfferTable" style="width:100%">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="" style="text-align:center">№</th>
                                    <th class=""> Açıqlama /<br /> Description</th>
                                    <th class="">Vahid /<br /> Unit<br></th>
                                    <th class="">Miqdar /<br /> Quantity</th>
                                </tr>

                                @{int i = 1;
                                    foreach (var item in Model.ItemList)
                                    {
                                        <tr>
                                            <td class="">@i</td>
                                            <td class="">
                                                @item.Description
                                            </td>
                                            <td class="">
                                                @item.Unit
                                            </td>
                                            <td class="">@item.Quantity</td>
                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>

                        <table class="footerTable">
                            <tr>
                                <td style="text-align:left">Mühasibatlıq / Accounting :   accountant@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Satış departamenti / Sales Department :  sales@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Alış departamenti / Procurement Department :   procurement@bakuengineering.com</td>
                            </tr>
                        </table>
                    </div>
                </div><!-- /.beslOfferDiv -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

@*<script type="text/javascript" src="~/Scripts/tableExportLibrary/tableExport.js"></script>
<script type="text/javascript" src="~/Scripts/tableExportLibrary/jquery.base64.js"></script>*@