﻿@using BESLSupplierTool.Models.ViewModels
@using BESLSupplierTool.Models.DBModels

@model EditOfferView

@{
    ViewBag.Title = "Edit offer";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
             Edit offer
        </h2>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h4>@Model.EnquiryQuoteNo</h4>
            </div>
            <div class="box-body">

                <div id="table" class="table-editable table-bordered centerAlign">
                    <span class="table-add glyphicon glyphicon-plus" style="margin-right:12px"></span>
                    <table class="table">
                        <tr>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.Description)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.DescriptionForSale)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.Unit)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.Quantity)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.UnitPrice)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.Amount)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.DeliveryDuration)</th>
                            <th>@Html.LabelFor(model => model.UnusedOfferItem.Comments)</th>

                            <th></th>
                            <th></th>
                        </tr>
                        <!-- This is our clonable table line -->

                        <tbody></tbody>
                        <tr class="hide">
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>

                            <td>
                                <span class="table-remove glyphicon glyphicon-remove"></span>
                                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                <span class="table-down glyphicon glyphicon-arrow-down"></span>
                            </td>

                            <td></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div id="editToolBar" style="border: 1px solid gray; padding:5px; border-radius:3px; border-color:lightgray">
                    <div>
                        <table>
                            <tr>
                                <th>Factor</th>
                                <th>Margin</th>
                                <th>Amount</th>
                            </tr>
                            <tr>
                                <td><input id="increaseFactor" type="text" class="form-control" placeholder="Factor" value="@Model.FactorMarginTbl.Factor" /></td>
                                <td><input id="increaseMargin" type="text" class="form-control" placeholder="Margin" value="@Model.FactorMarginTbl.Margin" /></td>
                                <td><input id="amountCalculated" type="text" class="form-control" placeholder="Amount" value="@Model.FactorMarginTbl.Amount" /></td>
                            </tr>
                            <tr>
                                <td><input id="preIncreaseFactor" type="text" class="form-control" placeholder="Previous Factor" /></td>
                                <td><input id="preIncreaseMargin" type="text" class="form-control" placeholder="Previous Margin" /></td>
                                <td><input id="preAmountCalculated" type="text" class="form-control" placeholder="Previous Amount" /></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <button id="" onclick="saveOffer()" class="btn btn-primary">Save offer</button>
                        <button id="" onclick="testOffer()" class="btn btn-primary">Test offer</button>
                        <button id="" onclick="applyFactorMarginOffer()" class="btn btn-primary">Apply factor-margin</button>
                        <button id="" onclick="undoFactorMarginOffer()" class="btn btn-danger">Undo factor-margin</button>
                    </div>

                    <div>
                        <div class="" style="width: 200px; display: inline-table;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Unit">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="copyButtonClick(this, 'unit')">Copy</button>
                                </span>
                            </div>
                        </div>
                        <div class="" style="width: 270px; display: inline-table;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Delivery Duration">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="copyButtonClick(this, 'deliveryDuration')">Copy</button>
                                </span>
                            </div>
                        </div>
                        <div class="" style="width: 270px; display: inline-table;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Comments">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="copyButtonClick(this, 'comments')">Copy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button id="export-btn" class="btn btn-primary">Export Data</button>
                </div>

                <p id="export"></p>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>


<script>
    var $tableHistory = new Array();
    var $factorMarginHistory = new Array();

    function applyFactorMarginOffer() {
        var $rows = $TABLE.find('tr:not(:hidden)');
        var BeslOfferId = @Model.Offer.BeslOfferId;
        var FmTbl = {
            Factor: $("#increaseFactor").val(),
            Margin: $("#increaseMargin").val(),
            Amount: $("#amountCalculated").val(),
        }
        var inputdata = {
            list: returnData(),
            beslOfferId: BeslOfferId,
            FmTbl: FmTbl,
        }
        $.ajax({
            url: '@Url.Action("ApplyFactorMarginOfferFromTool", "BeslOffer")',
            type: 'POST',
            data: JSON.stringify(inputdata),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (datax) {
                if (datax.JsonResultMainReturn.Success) {
                    addTableHistory();
                    addFactorMarginHistory();
                    for (var i = 1; i < $rows.length; i++) {
                        $rows[i].remove();
                    }
                    fillTable(datax.BeslOfferItems);
                    fillFactorMarginTable(datax.FactorMarginTbl);
                    alert("Təklif yeniləndi");
                } else {
                    alert("Xəta!");
                    console.log(datax);
                }
            }
        });
    }

    function fillFactorMarginTable(data) {
        $("#increaseFactor").val(data.Factor);
        $("#increaseMargin").val(data.Margin);
        $("#amountCalculated").val(data.Amount);
        $("#preIncreaseFactor").val(data.PreFactor);
        $("#preIncreaseMargin").val(data.PreMargin);
        $("#preAmountCalculated").val(data.PreAmount);
    }

    function addTableHistory() {
        var rows = $TABLE.find('tr:not(:hidden)');
        var tableData = new Array();
        for (var i = 1; i < rows.length; i++) {
            tableData.push(rows[i].outerHTML);
        }
        $tableHistory.push(tableData);
    }

    function addFactorMarginHistory() {
        var Factor = $("#increaseFactor").val();
        var Margin = $("#increaseMargin").val();
        var Amount = $("#amountCalculated").val();
        var PreFactor = $("#preIncreaseFactor").val();
        var PreMargin = $("#preIncreaseMargin").val();
        var PreAmount = $("#preAmountCalculated").val();

        var obj = { Factor: Factor, Margin: Margin, Amount: Amount, PreFactor: PreFactor, PreMargin: PreMargin, PreAmount: PreAmount };
        $factorMarginHistory.push(obj);
    }

    function undoFactorMarginOffer() {
        if ($tableHistory.length > 0){
            var lastTableHistory = $tableHistory.pop();
            var rows = $TABLE.find('tr:not(:hidden)');
            for (var i = 1; i < rows.length; i++) {
                rows[i].remove();
            }
            $TABLE.find('table').append(lastTableHistory.toString());

            var lastFactorMarginHistory = $factorMarginHistory.pop();
            $("#increaseFactor").val(lastFactorMarginHistory["Factor"]);
            $("#increaseMargin").val(lastFactorMarginHistory["Margin"]);
            $("#amountCalculated").val(lastFactorMarginHistory["Amount"]);
            $("#preIncreaseFactor").val(lastFactorMarginHistory["PreFactor"]);
            $("#preIncreaseMargin").val(lastFactorMarginHistory["PreMargin"]);
            $("#preAmountCalculated").val(lastFactorMarginHistory["PreAmount"]);
        }
    }

    function fillTableHistory(){

    }
</script>

<script>

    var beslQuoteNo = "";
    var inquiryNo = "";

    $(document).ready(function () {
        fillTable(@Html.Raw(Json.Encode(Model.OfferItems as BeslOfferItem[])));
    });

    function fillTable(dat) {
        var $TABLE = $('#table');
        var listForSale = dat;

        if(listForSale.length>0){
            beslQuoteNo = listForSale[0].QuoteNo;
            inquiryNo = listForSale[0].EnquiryNo;

            for(var i=0;i<listForSale.length;i++){
                var item = listForSale[i];

                $("tr.hide td:nth-child(1)").text(listForSale[i].Description);
                $("tr.hide td:nth-child(2)").text(listForSale[i].DescriptionForSale);
                $("tr.hide td:nth-child(3)").text(listForSale[i].Unit);
                $("tr.hide td:nth-child(4)").text(listForSale[i].Quantity.toFixed(2));
                $("tr.hide td:nth-child(5)").text(listForSale[i].UnitPrice.toFixed(2));
                $("tr.hide td:nth-child(6)").text(listForSale[i].Amount.toFixed(2));
                $("tr.hide td:nth-child(7)").text(listForSale[i].DeliveryDuration);
                $("tr.hide td:nth-child(8)").text(listForSale[i].Comments);

                var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
                $TABLE.find('table').append($clone);
            }

            $("tr.hide td:nth-child(1)").text("");
            $("tr.hide td:nth-child(2)").text("");
            $("tr.hide td:nth-child(3)").text("");
            $("tr.hide td:nth-child(4)").text("");
            $("tr.hide td:nth-child(5)").text("");
            $("tr.hide td:nth-child(6)").text("");
            $("tr.hide td:nth-child(7)").text("");
            $("tr.hide td:nth-child(8)").text("");
        }
    }

    function saveOffer() {
        var BeslOfferId = @Model.Offer.BeslOfferId;
        var list = returnData();
        var inputdata = {
            list : list,
            beslOfferId : BeslOfferId
        }
        //console.log(inputdata);
        if (list.length > 0) {
            $.ajax({
                url: '@Url.Action("EditBeslOfferItemsFromTool", "BeslOffer")',
                type: 'POST',
                data: JSON.stringify(inputdata),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (datax) {
                    if (datax.JsonResultMainReturn.Success) {
                        alert("Təklif yaddaşda saxlanıldı");
                    } else {
                        alert("Xəta!");
                        console.log(datax);
                    }
                }
                });
        }
    }

    function testOffer(){
        var $rows = $TABLE.find('tr:not(:hidden)');
        var BeslOfferId = @Model.Offer.BeslOfferId;
        var inputdata = {
            list : returnData(),
            beslOfferId : BeslOfferId
        }
        $.ajax({
            url: '@Url.Action("TestBeslOfferItemsFromTool", "BeslOffer")',
            type: 'POST',
            data: JSON.stringify(inputdata),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (datax) {
                if (datax.JsonResultMainReturn.Success) {
                    for (var i = 1; i < $rows.length; i++) {
                        $rows[i].remove();
                    }
                    fillTable(datax.BeslOfferItems);
                    $("#amountCalculated").val(datax.TotalAmount.toFixed(2));
                    alert("Təklif yeniləndi");
                } else {
                    alert("Xəta!");
                    console.log(datax);
                }
            }
        });
    }

    function returnData(){
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });

        return data;
    }

    function copyButtonClick(e, copyText){
        var input = $(e).closest("div").find("input");

        var $tds;
        if (copyText == "unit") {
            $tds = $('tr:not(:hidden) > td:nth-child(3)');
        } else if (copyText == "deliveryDuration"){
            $tds = $('tr:not(:hidden) > td:nth-child(7)');
        } else if (copyText == "comments"){
            $tds = $('tr:not(:hidden) > td:nth-child(8)');
        } else {
            $tds = $('tr:not(:hidden) > td:nth-child(8)');
        }

        for (var i = 0; i < $tds.length; i++) {
            $($tds[i]).text(input.val());
        }
    }

</script>

<script>

    var $TABLE = $('#table');
    var $BTN = $('#export-btn');
    var $EXPORT = $('#export');

    $('.table-add').click(function () {
        var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
        $TABLE.find('table').append($clone);
    });

    $('.table-remove').click(function () {
        $(this).parents('tr').detach();
    });

    $('.table-up').click(function () {
        var $row = $(this).parents('tr');
        if ($row.index() === 1) return; // Don't go above the header
        $row.prev().before($row.get(0));
    });

    $('.table-down').click(function () {
        var $row = $(this).parents('tr');
        $row.next().after($row.get(0));
    });

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.click(function () {
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });

        var tab = {
            list: data
        }

        // Output the result
        $EXPORT.text(JSON.stringify(tab));
    });
</script>

<link href="~/Content/css/editOffer.css" rel="stylesheet" />