﻿@using BESLSupplierTool.Models.DBModels
@{
    ViewBag.Title = "Offers";
}

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                ﻿﻿@(Html.Kendo().Grid<BeslOffer>()
                      .Name("BeslOfferGrid")
                      .Columns(columns =>
                      {
                          columns.Bound(c => c.BeslOfferId).Hidden(true);
                          columns.Bound(c => c.QuoteNo).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.InquiryNo).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          //columns.ForeignKey(c => c.InquiryId, (SelectList)ViewData["MRs"], "Value", "Text").HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(b => b.DateOffer).Format("{0:dd.MM.yyyy}").HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.Currency).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Bound(c => c.VAT).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                          columns.Template(x => { }).ClientTemplate
                          (
                              "<a class='btn btn-primary' href='" + Url.Action("PrintOffer", "BeslOffer", new { BeslOfferId = "#=BeslOfferId#" }) + "'  target=\"_blank\"><i class='fa fa-print'></i></a> &nbsp;" +
                              "<a class='btn btn-primary' onclick='createNDownloadOfferPdf(#=BeslOfferId#)'  target=\"_blank\"><i class='fa fa-download'></i></a> &nbsp;" +
                              "<a class='btn btn-primary' href='" + Url.Action("EditOffer", "BeslOffer", new { BeslOfferId = "#=BeslOfferId#" }) + "' target=\"_blank\"><i class='fa fa-pencil-square-o'></i></a>"
                          ).Width(160);
                          columns.Command
                          (
                          command =>
                          {
                              command.Edit().Text(" ").UpdateText("Update").CancelText("Close");
                              command.Destroy().Text(" ");
                          }
                          ).Width(170);
                      })
                      .ToolBar(toolbar =>
                      {
                          toolbar.Create().Text("Add");
                          toolbar.Excel().Text("Excel");
                          toolbar.Custom().Text("<i class=\"fa fa-refresh\" aria-hidden=\"true\"></i>").HtmlAttributes(new { @class = "gridCustomRefreshButton", onclick = "refreshKendoGrid('BeslOfferGrid')" });
                      })
                            .Editable(editable => editable.Mode(GridEditMode.PopUp)
                      .TemplateName("AddBeslOfferDialog")
                      .Window(w => w.Title("Add").Width(500)))
                      .Editable(editable => editable.DisplayDeleteConfirmation("DeleteConfirm"))
                      .Pageable(pager => pager.Refresh(true))
                      .Sortable()
                      .Scrollable(scr => scr.Height("auto"))
                      .Resizable(resize => resize.Columns(true))
                      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                      .Events(events => events.Edit("onEdit"))
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Sort(sort =>
                          {
                              sort.Add(p => p.BeslOfferId).Descending();
                          })
                                 .PageSize(20)
                        .Events(events => events.Sync("refreshGrid"))
                        .Events(events => events.Error("grid_error"))
                        .Model(model => model.Id(p => p.InquiryId))
                        .Read(read => read.Action("BeslOfferRead", "BeslOffer"))
                        .Create(create => create.Action("BeslOfferCreate", "BeslOffer"))
                        .Update(update => update.Action("BeslOfferUpdate", "BeslOffer"))
                        .Destroy(destroy => destroy.Action("BeslOfferDelete", "BeslOffer"))
                      )
                .ClientDetailTemplateId("BeslOfferItems")
                )

                <script type="text/kendo" id="BeslOfferItems">
                    @(Html.Kendo().Grid<BeslOfferItemView>()
                        .Name("HierarchyInquiryItem_#=BeslOfferId#")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.BeslOfferId).Hidden(true);
                            columns.Bound(c => c.DescriptionForSale).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                            columns.Bound(c => c.Unit).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                            columns.Bound(c => c.UnitPrice).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                            columns.Bound(c => c.Quantity).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                            columns.Bound(c => c.Amount).HtmlAttributes(new { @class = "centerAlign" }).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                            columns.Command(command =>
                            {
                                command.Edit().Text(" ").UpdateText("update").CancelText("close");
                                command.Destroy().Text(" ");
                            }).Width(250);
                        })
                        .ToolBar(toolbar =>
                        {
                            toolbar.Create().Text("add");
                            toolbar.Excel().Text("downloadEXL");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp)
                              .TemplateName("AddBeslOfferItemDialog")
                              .Window(w => w.Title("add").Width(600)))
                        .Editable(editable => editable.DisplayDeleteConfirmation("DeleteContractConfirmation"))
                        .Excel(excel => excel.FileName("BeslOfferItems")
                            .AllPages(true)
                            .Filterable(true)
                        )
                        .Pageable()
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                        .Resizable(resize => resize.Columns(true))
                        .Events(events => events.Edit("onEdit"))
                        .DataSource(dataSource => dataSource
                         .Ajax()
                            .Sort(sort =>
                                   {
                                       sort.Add(p => p.BeslOfferItemId).Descending();
                                   })
                            .PageSize(20)
                            .Events(events => events.Sync("refreshGrid"))
                            .Events(events => events.Error("grid_error"))
                            .Model(model => model.Id(p => p.BeslOfferItemId))
                                .Create(up => up.Action("BeslOfferItemCreate", "BeslOffer", new { id = "#=BeslOfferId#" }))
                                .Read(re => re.Action("BeslOfferItemRead", "BeslOffer", new { id = "#=BeslOfferId#" }))
                                .Update(up => up.Action("BeslOfferItemUpdate", "BeslOffer"))
                                .Destroy(up => up.Action("BeslOfferItemDelete", "BeslOffer"))
                        )
                        .ToClientTemplate()
                    )

                </script>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

<script type="text/javascript">

    $(document).ready(function () {
        removeHrefFromGridCustomRefreshButton();
    });

    function getNewQuoteNo() {
        $.ajax({
            url: '@Url.Action("GetNewQuoteNoForPopUp", "BeslOffer")',
            type: 'POST',
            data: "",
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.JsonResultMainReturn.Success) {
                    $("#QuoteNo").val(data.QuoteNo).trigger("change");
                    $("#QuoteNo").css("background-color", "#f3bbbb").css("border-color", "#a55454");
                } else {
                    console.log(data);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
                console.log(textStatus);
                console.log(errorThrown);
            },
        });
    }
</script>

<script type="text/javascript">

    function createNDownloadOfferPdf(offerId) {
        var createUrl = '@Url.Action("CreateOfferPdf", "BeslOffer")';
        var downUrl = '@Url.Action("DownloadOfferPdf", "BeslOffer", new { BeslOfferId = "BeslOfferIdJSVariable" })';
        downUrl = downUrl.replace("BeslOfferIdJSVariable", offerId);
        var inputDatax = {
            BeslOfferId: offerId,
        }
        $.ajax({
            url: createUrl,
            type: 'POST',
            data: JSON.stringify(inputDatax),
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.JsonResultMainReturn.Success) {
                    window.location = downUrl;
                }
                else {
                    console.log(data);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            },
        });
    }
</script>
@section Scripts{
    <script src="~/Scripts/custom/gridCustomAdditions.js"></script>
    <script src="~/Scripts/custom/beslOffer.js"></script>
}