﻿@model BESLSupplierTool.Models.ViewModels.PrintOffer

<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header no-print">
        <h1>
        </h1>
    </section>
    <link href="~/Content/css/besl.css" rel="stylesheet" />
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="col-xs-12 no-print">
                <button onclick="print()" class="btn pull-right" style="margin:10px 5px 0 0;"><i class='fa fa-print'></i> Print</button>
            </div>
            <div class="box-body">
                <div class="beslOfferDiv" style="">
                    <div class="offerHeaderDiv" style="padding:10px 80px 10px 80px;">
                        <div>
                            <div style="float:left;">
                                <div style="display:inline-block; vertical-align:middle"><img src="~/Content/images/logo.png" /></div>
                                <div style="border-left: 1px solid #000000; padding-left:15px; margin-top:10px; display:inline-block; vertical-align:middle">
                                    <span style="text-transform: uppercase; ">baku <br />engineering <br />supplies ltd</span>
                                </div>
                            </div>
                            <div style="float:right">
                                <p style="">
                                    Adress: M.Hadi 7, Baku\Azerbaijan, AZ1142<br />
                                    Phone: (+994 12) 370 01 92<br />
                                    Fax: (+994 12) 370 94 36<br />
                                    Mail: info@bakuengineering.com<br />
                                    Web: www.bakuengineering.com
                                </p>
                            </div>
                        </div>
                        <div style="content:''; height:120px;"></div>
                    </div>

                    <div class="infoOfferDiv">
                        <table class="infoOfferTable">
                            <tr>
                                <td style="width: 20%;">To:</td>
                                <td style="width: 30%;">"AZFEN" J.V.</td>
                                <td style="width: 20%;">Inquiry №:</td>
                                <td style="width: 30%;">MR  10544</td>
                            </tr>
                            <tr>
                                <td>Buyer:</td>
                                <td>Procurement Department</td>
                                <td>Project №:</td>
                                <td>AZF-087</td>
                            </tr>
                            <tr>
                                <td>Attn:</td>
                                <td>Samir Guliyev</td>
                                <td>Quote №:</td>
                                <td>BESL \008384</td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td>16.12.2016</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>


                    <div class="" style="width:100%;">
                        <table id="" class="fullBordered mainOfferTable" style="width:100%">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="" style="text-align:center">№</th>
                                    <th class=""> Açıqlama /<br /> Description</th>
                                    <th class="">Vahid /<br /> Unit<br></th>
                                    <th class="">Miqdar /<br /> Quantity</th>
                                    <th class="">Vahid qiyməti /<br /> Unit Price<br></th>
                                    <th class="">Məbləğ /<br /> Amount</th>
                                    <th class="">Çatdırılma müddəti /<br /> Delivery duration<br></th>
                                    <th class="">Qeydlər /<br /> Comments</th>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male<br />
                                        OUR OFFER : 3/4" X 1/2" NPT RED NIPPLE  150LB  316SS
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr>
                                    <td class="">100</td>
                                    <td class="">
                                        Stainless Steel Male Connector 1/2" NPT to 3/4" NPT Male
                                    </td>
                                    <td class="">
                                        Each /<br />
                                        Ədəd
                                    </td>
                                    <td class="">10000.00</td>
                                    <td class="">330000.29</td>
                                    <td class="">1660000.45</td>
                                    <td class="">20 w. days / iş günü q</td>
                                    <td class="">dsa das das sad</td>
                                </tr>
                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">Total / Cəm</td>

                                    <td class="hAlignCenter">1110000.45</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">VAT / ƏDV 0%</td>

                                    <td class="hAlignCenter">0.00</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">Quotation Total / Toplam</td>

                                    <td class="hAlignCenter">1660000.45</td>
                                    <td class="">USD</td>
                                    <td class=""></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="footerTable">
                            <tr>
                                <td style="text-align:left">Mühasibatlıq / Accounting :   accountant@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Satış departamenti / Sales Department :  sales@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Alış departamenti / Procurement Department :   procurement@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Təhvil Yeri / Terms of delivery :  DDP Baku</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Ödəmə Vaxtı / Terms of payment :  30 days / 30 gün</td>
                            </tr>
                        </table>
                    </div>
                </div><!-- /.beslOfferDiv -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

<script type="text/javascript" src="~/Scripts/tableExportLibrary/tableExport.js"></script>
<script type="text/javascript" src="~/Scripts/tableExportLibrary/jquery.base64.js"></script>