﻿@model BESLSupplierTool.Models.ViewModels.PrintOffer
@{ViewBag.Title = Model.InquiryNo + " - " + Model.QuoteNo;}
<div class="content-wrapper" style="min-height: 1096px;">
    <!-- Content Header (Page header) -->
    <section class="content-header no-print">
        <h1></h1>
    </section>
    <link href="~/Content/css/besl.css" rel="stylesheet" />
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="col-xs-12 no-print">
                <button onclick="print()" class="btn pull-right" style="margin:10px 5px 0 0;"><i class='fa fa-print'></i> Print <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save</button>
            </div>
            <div class="box-body">
                <div class="beslOfferDiv" style="">
                    <div class="offerHeaderDiv" style="padding:10px 80px 10px 80px;">
                        <div>
                            <div style="float:left;">
                                <div style="display:inline-block; vertical-align:middle"><img src="~/Content/images/logo.png" /></div>
                                <div style="border-left: 1px solid #000000; padding-left:15px; margin-top:10px; display:inline-block; vertical-align:middle">
                                    <span style="text-transform: uppercase; ">baku <br />engineering <br />supplies ltd</span>
                                </div>
                            </div>
                            <div style="float:right">
                                <p style="">
                                    Adress: M.Hadi 7, Baku\Azerbaijan, AZ1142<br />
                                    Phone: (+994 12) 370 01 92<br />
                                    Fax: (+994 12) 370 94 36<br />
                                    Mail: info@bakuengineering.com<br />
                                    Web: www.bakuengineering.com
                                </p>
                            </div>
                        </div>
                        <div style="content:''; height:120px;"></div>
                    </div>

                    <div class="infoOfferDiv">
                        <table class="infoOfferTable">
                            <tr>
                                <td style="width: 20%;">To:</td>
                                <td style="width: 30%;">@Model.To</td>
                                <td style="width: 20%;">Inquiry №:</td>
                                <td style="width: 30%;">@Model.InquiryNo</td>
                            </tr>
                            <tr>
                                <td>Buyer:</td>
                                <td>@Model.Buyer</td>
                                <td>Project №:</td>
                                <td>@Model.ProjectNo</td>
                            </tr>
                            <tr>
                                <td>Attn:</td>
                                <td>@Model.Attn</td>
                                <td>Quote №:</td>
                                <td>@Model.QuoteNo</td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td>@Model.Date</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>


                    <div class="" style="width:100%;">
                        <table id="" class="fullBordered mainOfferTable" style="width:100%">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="" style="text-align:center">№</th>
                                    <th class=""> Açıqlama /<br /> Description</th>
                                    <th class="">Vahid /<br /> Unit<br></th>
                                    <th class="">Miqdar /<br /> Quantity</th>
                                    <th class="">Vahid qiyməti /<br /> Unit Price<br></th>
                                    <th class="">Məbləğ /<br /> Amount</th>
                                    <th class="">Çatdırılma müddəti /<br /> Delivery duration<br></th>
                                    <th class="">Qeydlər /<br /> Comments</th>
                                </tr>

                                @{int i = 1;
                                    foreach (var item in Model.ItemList)
                                    {
                                        <tr>
                                            <td class="">@i</td>
                                            <td class="">
                                                @item.Description <br /> OUR OFFER : @item.DescriptionForSale
                                            </td>
                                            <td class="">
                                                @item.Unit
                                            </td>
                                            <td class="">@item.Quantity</td>
                                            <td class="">@item.UnitPrice</td>
                                            <td class="">@item.Amount</td>
                                            <td class="">@item.DeliveryDuration</td>
                                            <td class="">@item.Comments</td>
                                        </tr>
                                        i++;
                                    }
                                }


                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">Total / Cəm</td>

                                    <td class="hAlignCenter">@Model.TotalAmount</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">VAT / ƏDV @(Model.VAT)%</td>

                                    <td class="hAlignCenter">@Model.VATAmount</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr class="tableHeader">
                                    <td class="hAlignRight" colspan="5">Quotation Total / Toplam</td>

                                    <td class="hAlignCenter">@Model.QuotationTotal</td>
                                    <td class="">@Model.Currency</td>
                                    <td class=""></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="footerTable">
                            <tr>
                                <td style="text-align:left">Mühasibatlıq / Accounting :   accountant@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Satış departamenti / Sales Department :  sales@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Alış departamenti / Procurement Department :   procurement@bakuengineering.com</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Təhvil Yeri / Terms of delivery :  @Model.TermsOfDelivery</td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Ödəmə Vaxtı / Terms of payment :  @Model.TermsOfPayment</td>
                            </tr>
                        </table>
                    </div>
                </div><!-- /.beslOfferDiv -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div>

@*<script type="text/javascript" src="~/Scripts/tableExportLibrary/tableExport.js"></script>
    <script type="text/javascript" src="~/Scripts/tableExportLibrary/jquery.base64.js"></script>*@